<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-02-27-hello-world.md</string>
		</array>
		<array>
			<string>2014-03-08-outliers.md</string>
		</array>
		<array>
			<string>2014-04-13-studylesslearnmore.md</string>
		</array>
		<array>
			<string>2015-03-08-instruction-system.md</string>
		</array>
		<array>
			<string>2015-03-13-mykernel.md</string>
		</array>
		<array>
			<string>2015-03-22-linuxInit.md</string>
		</array>
		<array>
			<string>2015-03-26-syscall.md</string>
		</array>
		<array>
			<string>2015-04-03-readbook.md</string>
		</array>
		<array>
			<string>2015-04-04-syscalltwo.md</string>
		</array>
		<array>
			<string>2015-04-10-forksomething.md</string>
		</array>
	</array>
</dict>
</plist>
